@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

main {
    width: 330px;
    text-align: center;
    padding: 1rem;
    background-color: white;
    border-radius: 15px;

}

main img {
    border-radius: 15px;
    max-width: 100%;
}

#text {
    margin: 1rem;
    text-align: center;
    font-size: 0.9375rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto; 
    
}

#heading {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

#p {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: hsl(220, 15%, 55%);

}

footer {

    text-align: center;
    position: absolute;
    bottom: 1rem;
}
